<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784792263572-78nfd996p0cov64g20ticg9a1hikgous.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784792263572-78nfd996p0cov64g20ticg9a1hikgous</string>
	<key>API_KEY</key>
	<string>AIzaSyCCY514LlporklTncursURi4m-oSv9qsmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>784792263572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simpleonlinestore.simpleOnlineStore</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-site-8d261</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-site-8d261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784792263572:ios:bb4b8a7e9f613891724d81</string>
</dict>
</plist>